{{- /* 本 partial 用于给 .markdown-body 添加样式，
     * site.Params.colorScheme 指定颜色主题 (默认是 gruvbox-light-soft)，
     * inlineStyle 指定 style 是内联还是外联，
     * replaceCSSVar 指定是否将 css variables 替换
     */
-}}

{{- $base := resources.Get "css/markdown-body-base.css" -}}
{{- $colorSchemeName := index site.Params "colorScheme" | default "gruvbox-light-soft" -}}
{{- $colorScheme := resources.Get (printf "css/color-scheme/%s.css" $colorSchemeName) -}}
{{- $tex2svg := resources.Get "css/tex2svg.css" -}}
{{- $css := slice $base $colorScheme $tex2svg | resources.Concat "css/markdown-body.css" -}}
{{- .Scratch.Set "markdownBodyCSS" $css -}}
