{{ define "mainTitle" }}
  <h1>{{ .Title }}</h1>
  <small>
    <time class="" datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "Mon, 2006/01/02" }}</time>
  </small>
  <p>
    {{ range .Params.tags }}
    <a href="/tags/{{ . | urlize }}/"><span class="tag is-small">{{ . }}</span></a>
    {{ end }}
  </p>
  {{ if templates.Exists "partials/single-main-title-extra.html" }}
    {{ partial "single-main-title-extra.html" . }}
  {{ end }}
{{ end }}

{{ define "mainBody" }}
  <article id="markdown-body">
    {{ .Content }}
  </article>
{{ end }}

