{{ define "head" }}
  <script src="/anchorjs/js/anchor.min.js"></script>
  <script src="/tocbot/js/tocbot.min.js"></script>
  <link rel="stylesheet" href="/tocbot/css/tocbot.css"></link>
{{ end }}

{{ define "mainTitle" }}
  <h6>{{ partial "breadcrumb.html" .Parent }}</h6>
  {{ if not .Params.hideTitle }}
  <h1>{{ .Title }}</h1>
  {{ end }}
  {{ if not .Params.hideDate }}
  <small>
    <time class="" datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "Mon, 2006/01/02" }}</time>
  </small>
  {{ end }}
  <p>
    {{ range .Params.tags }}
    <a href="/tags/{{ . | urlize }}/"><span class="tag is-small">{{ . }}</span></a>
    {{ end }}
  </p>
  {{ if templates.Exists "partials/single-main-title-extra.html" }}
    {{ partial "single-main-title-extra.html" . }}
  {{ end }}
{{ end }}

{{ define "mainBody" }}
  <article id="content-body">
    {{ .Content }}
  </article>
{{ end }}

{{ define "mainRight" }}
  <div id="content-toc" class="toc"></div>
{{ end }}

{{ define "bodyEnd" }}
  {{- if not (.Scratch.Get "noAnchorjs") }}
  <script>
    anchors.add('#main-body h2, #main-body h3, #main-body h4, #main-body h5, #main-body h6');
  </script>
  {{ end }}
  {{- if not (.Scratch.Get "noTocbot") }}
  <script>
    tocbot.init({
      tocSelector: '#content-toc',
      contentSelector: '#content-body',
      headingSelector: 'h2, h3, h4, h5, h6',
      hasInnerContainers: false,
      headingsOffset: 80,
      scrollSmoothOffset: -80
    });
  </script>
  {{ end }}
{{ end }}
