/* 参考自 
 *   https://github.com/antfu/prism-theme-vars
 */

:root {
  /* Color */
  --color-fg:               #6e6e6e;
  --color-bg:               #f4f4f4;
  --color-selection-bg:     #aaaaaa;

  /* Inline Style */
  --inline-padding-x:       0.3em;
  --inline-padding-y:       0.2em;
  --inline-radius:          0.3em;

  /* Block Style */
  --block-padding-x:        1.8em;
  --block-padding-y:        1.8em;
  --block-margin-x:         auto;
  --block-margin-y:         1em;
  --block-radius:           0.5em;
  --block-shadow:           -2px 0px 10px 0px rgba(0, 0, 0, 0.55);

  /* Code Style */
  --code-font-family:       "Operator Mono", Consolas, Monaco, Menlo, monospace;
  --code-line-height:       1.5em;
  --code-tab-size:          2;
  --code-selection-bg:      var(--color-selection-bg);

  --code-inline-fg:         var(--color-fg);
  --code-inline-bg:         var(--color-bg);
  --code-inline-font-size:  0.85em;
  --code-inline-padding-x:  var(--inline-padding-x);
  --code-inline-padding-y:  var(--inline-padding-y);
  --code-inline-radius:     var(--inline-radius);

  --code-block-fg:          var(--color-fg);
  --code-block-bg:          var(--color-bg);
  --code-block-font-size:   0.65em;
  --code-block-padding-x:   var(--block-padding-x);
  --code-block-padding-y:   var(--block-padding-y);
  --code-block-margin-x:    var(--block-margin-x);
  --code-block-margin-y:    var(--block-margin-y);
  --code-block-radius:      var(--block-radius);
  --code-block-shadow:      var(--block-shadow);
  --code-block-ln-bg:       var(--color-bg);
  --code-block-ln-padding:  0.6em;

  --code-tok-comment:       var(--color-fg); /* general token */
  --code-tok-operator:      var(--color-fg);
  --code-tok-keyword:       var(--color-fg);
  --code-tok-builtin:       var(--color-fg);
  --code-tok-function:      var(--color-fg);
  --code-tok-class-name:    var(--color-fg);
  --code-tok-string:        var(--color-fg);
  --code-tok-variable:      var(--color-fg);
  --code-tok-constant:      var(--color-fg);
  --code-tok-property:      var(--color-fg);
  --code-tok-namespace:     var(--color-fg);

  --code-tok-annotation:    var(--code-tok-function); /* general token derived */
  --code-tok-punctuation:   var(--code-tok-operator);
  --code-tok-regex:         var(--code-tok-string);
  --code-tok-number:        var(--code-tok-constant);
  --code-tok-boolean:       var(--code-tok-constant);
  --code-tok-interpolation: var(--code-tok-constant);
  --code-tok-symbol:        var(--code-tok-constant);
  --code-tok-url:           var(--code-tok-constant);

  --code-tok-doctype:       var(--code-tok-comment); /* mainly used by xml/html */
  --code-tok-cdata:         var(--code-tok-comment);
  --code-tok-tag:           var(--code-tok-builtin);
  --code-tok-attr-name:     var(--code-tok-property);
  --code-tok-attr-value:    var(--code-tok-string);

  --code-tok-shebang:       var(--code-fg); /* mainly used by shell */

  --code-tok-selector:      var(--code-tok-keyword); /* mainly used by css */
  --code-tok-atrule:        var(--code-tok-keyword);

  --code-tok-coord:         var(--code-tok-class-name); /* mainly used by diff */
  --code-tok-deleted:       var(--code-fg);
  --code-tok-inserted:      var(--code-fg);

  --code-comment-style:     italic;
  --code-url-decoration:    underline;

  /* Math Style */
  --math-inline-fg:         var(--color-fg);
  --math-inline-bg:         var(--color-bg);
  --math-inline-height:     1.5em;
  --math-inline-padding:    var(--inline-padding-y) var(--inline-padding-x);
  --math-inline-radius:     var(--inline-radius);

  --math-block-fg:          var(--color-fg);
  --math-block-bg:          var(--color-bg);
  --math-block-margin:      var(--block-margin-y) var(--block-margin-x);
  --math-block-padding:     var(--block-padding-y) var(--block-padding-x);
  --math-block-radius:      var(--block-radius);
  --math-block-shadow:      var(--block-shadow);
}

/**********
 * Common *
 **********/

.markdown-body {
  color: var(--color-fg);
}

.markdown-body::selection,
.markdown-body *::selection {
  background: var(--code-selection-bg);
}

/********
 * Code *
 ********/

/* Common */

.markdown-body code[class*='language-'] {
  font-family: var(--code-font-family);
  line-height: var(--code-line-height);
  /*
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  */
  -moz-tab-size: var(--code-tab-size);
  -o-tab-size: var(--code-tab-size);
  tab-size: var(--code-tab-size);
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Inline */

.markdown-body :not(pre) > code[class*='language-'] {
  color: var(--code-inline-fg);
  background: var(--code-inline-bg);
  font-size: var(--code-inline-font-size);
  padding: var(--code-inline-padding-y) var(--code-inline-padding-x);
  border-radius: var(--code-inline-radius);
}

/* Block */

.markdown-body .code-container {
  /*
  max-width: fit-content;
  */
  display: block;
  overflow-x: auto;
  color: var(--code-block-fg);
  background-color: var(--code-block-bg);
  font-size: var(--code-block-font-size);
  margin: var(--code-block-margin-y) var(--code-block-margin-x);
  padding: 0;
  border-radius: var(--code-block-radius);
  box-shadow: var(--code-block-shadow);
}

.markdown-body .code-container table {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  border-collapse: collapse;
}

.markdown-body .code-container td {
  border: 0;
  margin: 0;
  padding: 0;
}

.markdown-body .code-container td:first-child {
  /*
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
  */
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: var(--code-block-ln-bg);
}

.markdown-body .code-container td:last-child {
  /* https://stackoverflow.com/a/17014884 */
  width: 100%;
}

.markdown-body .code-container td:first-child pre {
  margin: 0;
  padding: var(--code-block-padding-y) var(--code-block-ln-padding);
}

.markdown-body .code-container td:last-child pre {
  margin: 0;
  padding: var(--code-block-padding-y) var(--code-block-padding-x);
}

/* Tokens */

.markdown-body .token.comment {
  color: var(--code-tok-comment);
  font-style: var(--code-tok-comment-style);
}

.markdown-body .token.operator { color: var(--code-tok-operator); }
.markdown-body .token.keyword { color: var(--code-tok-keyword); }
.markdown-body .token.builtin { color: var(--code-tok-builtin); }
.markdown-body .token.function { color: var(--code-tok-function); }
.markdown-body .token.class-name { color: var(--code-tok-class-name); }
.markdown-body .token.string { color: var(--code-tok-string); }
.markdown-body .token.variable { color: var(--code-tok-variable); }
.markdown-body .token.constant { color: var(--code-tok-constant); }
.markdown-body .token.property { color: var(--code-tok-property); }
.markdown-body .token.namespace { color: var(--code-tok-namespace); }

.markdown-body .token.annotation,
.markdown-body .language-python .token.decorator { color: var(--code-tok-annotation); }
.markdown-body .token.punctuation { color: var(--code-tok-punctuation); }
.markdown-body .token.regex { color: var(--code-tok-regex); }
.markdown-body .token.number { color: var(--code-tok-number); }
.markdown-body .token.boolean { color: var(--code-tok-boolean); }
.markdown-body .token.interpolation { color: var(--code-tok-interpolation); }
.markdown-body .token.symbol { color: var(--code-tok-symbol); }
.markdown-body .token.url { color: var(--code-tok-url); }

.markdown-body .token.doctype { color: var(--code-tok-doctype); }
.markdown-body .token.cdata { color: var(--code-tok-cdata); }
.markdown-body .token.tag { color: var(--code-tok-tag); }
.markdown-body .token.attr-name { color: var(--code-tok-attr-name); }
.markdown-body .token.attr-value { color: var(--code-tok-attr-value); }

.markdown-body .token.shebang { color: var(--code-tok-shebang); }

.markdown-body .token.selector { color: var(--code-tok-selector); }
.markdown-body .token.atrule { color: var(--code-tok-atrule); }

.markdown-body .token.coord { color: var(--code-tok-coord); }
.markdown-body .token.deleted { color: var(--code-tok-deleted); }
.markdown-body .token.inserted { color: var(--code-tok-inserted); }

.markdown-body .token.comment {
  font-style: var(--code-comment-style);
}

.markdown-body .token.url {
  text-decoration: var(--code-url-decoration);
}

.markdown-body .token.important,
.markdown-body .token.bold {
  font-weight: bold;
}

.markdown-body .token.italic {
  font-style: italic;
}

.markdown-body .token.operator,
.markdown-body .token.punctuation {
  opacity: 0.7;
}

/********
 * Math *
 ********/

/* Inline */

.markdown-body mjx-container[jax="SVG"]:not([display="true"]) > svg {
  color: var(--math-inline-fg);
  background-color: var(--math-inline-bg);
  height: var(--math-inline-height);
  padding: var(--math-inline-padding);
  border-radius: var(--math-inline-radius);
}

/* Block */

.markdown-body mjx-container[jax="SVG"][display="true"] {
  overflow-x: auto;
  color: var(--math-block-fg);
  background-color: var(--math-block-bg);
  margin: var(--math-block-margin);
  padding: var(--math-block-padding);
  border-radius: var(--math-block-radius);
  box-shadow: var(--math-block-shadow);
}
