{{- /* 本 partial 用于生成 .markdown-body 样式列表，
     * 列表中的每一项都是一种 color scheme 下的样式，
     * 调用者可以从 .Scratch.Get "markdownBodyCSSs" 获得该列表
     */
-}}
{{- $base := resources.Get "css/markdown-body-base.css" }}
{{- $tex2svg := resources.Get "css/markdown-body-tex2svg.css" -}}
{{- $scratch := .Scratch }}
{{- range $i, $colorSchemeName := slice "gruvbox-light-soft" "gruvbox-dark-soft" }}
  {{- $colorScheme := resources.Get (printf "css/color-scheme/%s.css" $colorSchemeName) -}}
  {{- $css := slice $base $colorScheme $tex2svg | resources.Concat (printf "css/markdown-body.%s.css" $colorSchemeName) -}}
  {{- $scratch.Add "markdownBodyCSSs" (slice $css) -}}
{{- end }}
