/****************************
 * 常用 margin/padding 类型 *
 ****************************/

@mixin _margin-y($selector, $margin) {
  #{$selector} {
    margin-top: $margin;
    margin-bottom: $margin;
  }
}

@mixin _margin-x($selector, $margin) {
  #{$selector} {
    margin-left: $margin;
    margin-right: $margin;
  }
}

@mixin _padding-y($selector, $padding) {
  #{$selector} {
    padding-top: $padding;
    padding-bottom: $padding;
  }
}

@mixin _padding-x($selector, $padding) {
  #{$selector} {
    padding-left: $padding;
    padding-right: $padding;
  }
}

@for $i from 0 through 2 {
  @include _margin-y(".mdb-margin-y-#{$i}", #{$i}rem);
  @include _margin-y(".mdb-margin-y-#{$i}-5", unquote("#{$i}.5rem"));
  @include _margin-x(".mdb-margin-x-#{$i}", #{$i}rem);
  @include _margin-x(".mdb-margin-x-#{$i}-5", unquote("#{$i}.5rem"));
  @include _padding-y(".mdb-padding-y-#{$i}", #{$i}rem);
  @include _padding-y(".mdb-padding-y-#{$i}-5", unquote("#{$i}.5rem"));
  @include _padding-x(".mdb-padding-x-#{$i}", #{$i}rem);
  @include _padding-x(".mdb-padding-x-#{$i}-5", unquote("#{$i}.5rem"));
}

@include _margin-y(".mdb-margin-y-auto", auto);
@include _margin-x(".mdb-margin-x-auto", auto);
@include _padding-y(".mdb-padding-y-px", 1px);
@include _padding-x(".mdb-padding-x-px", 1px);

/****************
 * 常用字体类型 *
 ****************/

/* 默认字体设置 */
.mdb-font {
  font-size: 1rem;
  line-height: 1.5;
}

/* heading 字体设置 */
@for $i from 1 through 6 {
  .mdb-heading-#{$i}-font {
    font-size: 2rem - $i * 0.15rem;
    font-weight: 600;
    line-height: 1.25;
  }
}

.mdb-code-font {
  font-size: 0.8rem;
  line-height: 1.6;
}

.mdb-table-font {
  font-size: 0.85rem;
}

/***********************
 * 常用 block 元素类型 *
 ***********************/

.mdb-block-container {
  display: block;
  overflow-x: auto;

  /* 隐藏滚动条 */
  & {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

/************************
 * 常用 inline 元素类型 *
 ************************/

@include _padding-y(".mdb-inline-padding-y", 0.3rem);
@include _padding-x(".mdb-inline-padding-x", 0.8rem);
@include _margin-y(".mdb-inline-margin-y", 0.2rem);
@include _margin-x(".mdb-inline-margin-x", 0.2rem);

.mdb-inline-border-radius {
  border-radius: 0.3rem;
}

/**************
 * 常用其他类 *
 **************/

.mdb-border-box {
  box-sizing: border-box;
}

.mdb-content-box {
  box-sizing: content-box;
}

/*****************
 * markdown body *
 *****************/

.mdb {
  @extend .mdb-border-box;
  @extend .mdb-padding-x-1-5;
  @extend .mdb-padding-y-1;
  @extend .mdb-font;

  /* https://stackoverflow.com/questions/3226001/some-font-sizes-rendered-larger-on-safari-iphone */
  -webkit-text-size-adjust: none;

  /* Headings */

  @for $i from 1 through 6 {
    h#{$i} {
      @extend .mdb-heading-#{$i}-font;
      /* 距离上边远一些 */
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
  }

  /* Paragraphs */

  p {
    @extend .mdb-margin-y-1;
  }

  /* Emphasis */

  strong {
    color: inherit;
    font-weight: bold;
  }
  
  em {
    color: inherit;
    font-style: italic;
  }

  /* Blockquotes */

  blockquote {
    @extend .mdb-margin-x-0;
    @extend .mdb-margin-y-1;
    @extend .mdb-padding-x-1;
    @extend .mdb-padding-y-px;
  }

  /* Lists */

  ul, ol {
    padding-left: 2rem;
  }

  ul {
    list-style-type: disc;
  }

  ul, ol {
    ul {
      list-style-type: square;
    }
  }

  ul, ol {
    ul, ol {
      ul {
        list-style-type: circle;
      }
    }
  }

  ol {
    list-style-type: decimal;
  }

  ul, ol {
    ol {
      list-style-type: lower-roman;
    }
  }

  ul, ol {
    ul, ol {
      ol {
        list-style-type: lower-alpha;
      }
    }
  }

  li, li > p {
    @extend .mdb-margin-y-0-5;
  }

  /* Horizontal Rules */

  hr {
    @extend .mdb-margin-y-2;
    border: 0;
    height: 0.15rem;
  }

  /* Links */

  a {
    text-decoration: none;
    cursor: pointer;
  }

  a:hover {
    text-decoration: underline;
  }

  /* Images */

  img {
    /* 图片其实是可以 inline 到诸如 <p> <a> 里头的，但这里都统一成 block */
    display: block;
    max-width: 100%;
    @extend .mdb-margin-x-auto;
    @extend .mdb-margin-y-1;
  }

  figure {
    @extend .mdb-block-container;
    @extend .mdb-margin-x-auto;
    @extend .mdb-margin-y-0;
  }

  figure figcaption {
    text-align: center;
    font-size: 0.8rem;
    font-style: italic;                                                                                                                                 
    font-weight: bold;
    opacity: 0.5;
  }

  /* Code */

  .code-container {    
    @extend .mdb-block-container;
    @extend .mdb-margin-x-auto;
    @extend .mdb-margin-y-1;
    /*    
    max-width: fit-content;    
     */    

    table {
      @extend .mdb-margin-x-0;
      @extend .mdb-margin-y-0;
      @extend .mdb-padding-x-0;
      @extend .mdb-padding-y-0;
      border: 0;
      border-collapse: collapse;
      width: 100%;
    }

    td {
      @extend .mdb-margin-x-0;
      @extend .mdb-margin-y-0;
      @extend .mdb-padding-x-0;
      @extend .mdb-padding-y-0;
      border: 0;

      &:first-child {
        /* 行号固定 */
        position: -webkit-sticky;
        position: sticky;
        left: 0;
        /* 不可选 */
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 10;

        pre {
          @extend .mdb-padding-x-0-5;
        }
      }

      &:last-child {
        /* https://stackoverflow.com/a/17014884 */
        width: 100%;
        z-index: 9;

        pre {
          @extend .mdb-padding-x-1;
        }
      }

    }

    pre {
      @extend .mdb-margin-x-0;
      @extend .mdb-margin-y-0;
      @extend .mdb-padding-y-1;
      @extend .mdb-code-font;
    }
  }    

  code[class*='language-'] {
    @extend .mdb-code-font;
    /*
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    */
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  :not(pre) > code[class*='language-'] {
    @extend .mdb-inline-padding-y;
    @extend .mdb-inline-padding-x;
    @extend .mdb-inline-margin-y;
    @extend .mdb-inline-margin-x;
    @extend .mdb-inline-border-radius;
  }

  pre > code[class*='language-'] {
    @extend .mdb-padding-x-0;
    @extend .mdb-padding-y-0;
  }

  .prism-token {
    &.prism-comment { font-style: italic; }
    &.prism-url { text-decoration: underline; }
    &.prism-important,
    &.prism-bold { font-weight: bold; }
    &.prism-italic { font-style: italic; }
    &.prism-operator,
    &.prism-punctuation { opacity: 0.7; }
  }

  /* Tables */

  .table-container {
    @extend .mdb-block-container;
    @extend .mdb-margin-x-auto;
    @extend .mdb-margin-y-1;
    max-width: fit-content;
    white-space: nowrap;

    table {
      @extend .mdb-margin-x-auto;
      @extend .mdb-margin-y-0;
      border: 0;
      border-collapse: collapse;

      th, td {
        @extend .mdb-table-font;
        @extend .mdb-inline-padding-y;
        @extend .mdb-inline-padding-x;
      }
    }
  }

  /* Math */

  mjx-container[jax="SVG"] {
    &[display="true"] {
      @extend .mdb-block-container;
      @extend .mdb-margin-x-auto;
      @extend .mdb-margin-y-1;
      @extend .mdb-padding-x-2;
      @extend .mdb-padding-y-2;
      text-align: center;

    }

    &:not([display="true"]) {
      display: inline-block;
      @extend .mdb-inline-padding-x;
      @extend .mdb-inline-padding-y;
      @extend .mdb-inline-margin-x;
      @extend .mdb-inline-margin-y;
      @extend .mdb-inline-border-radius;
    }

  }

}
