$heading-margin: 1.5rem 0 1rem;
$paragraph-margin: 1rem 0;
$block-margin: 1rem auto;
$block-padding: 1rem;
$block-border-radius: 0.5rem;
$inline-margin: 0.2rem;
$inline-padding: 0.3rem 0.8rem;
$inline-border-radius: 0.3rem;

$serif-ff: serif;
$sans-ff: sans-serif;
$mono-ff: monospace;
$body-font: 1rem/1.5 $sans-ff;
$h1-font: bold 1.65rem/1.25 $sans-ff;
$h2-font: bold 1.375rem/1.25 $sans-ff;
$h3-font: bold 1.25rem/1.25 $sans-ff;
$h4-font: bold 1.125rem/1.25 $sans-ff;
$h5-font: bold 1rem/1.25 $sans-ff;
$h6-font: bold 0.875rem/1.25 $sans-ff;
$code-font: 0.7rem/1.6 $mono-ff;
$table-font: 0.85rem $sans-ff;

/* Exported variables */

:root {
  --mdb-heading-margin: #{$heading-margin};
  --mdb-paragraph-margin: #{$paragraph-margin};
  --mdb-block-margin: #{$block-margin};
  --mdb-block-padding: #{$block-padding};
  --mdb-block-border-radius: #{$block-border-radius};
  --mdb-inline-margin: #{$inline-margin};
  --mdb-inline-padding: #{$inline-padding};
  --mdb-inline-border-radius: #{$inline-border-radius};

  --mdb-serif-ff: #{$serif-ff};
  --mdb-sans-ff: #{$sans-ff};
  --mdb-mono-ff: #{$mono-ff};
  --mdb-body-font: #{$body-font};
  --mdb-h1-font: #{$h1-font};
  --mdb-h2-font: #{$h2-font};
  --mdb-h3-font: #{$h3-font};
  --mdb-h4-font: #{$h4-font};
  --mdb-h5-font: #{$h5-font};
  --mdb-h6-font: #{$h6-font};
  --mdb-code-font: #{$code-font};
  --mdb-table-font: #{$table-font};
}

%mdb-block-container {
  display: block;
  overflow-x: auto;

  /* 隐藏滚动条 */
  & {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

/*****************
 * markdown body *
 *****************/

.mdb {

  box-sizing: border-box;
  padding: 1rem 1.5rem;
  font: $body-font;
  /* https://stackoverflow.com/questions/3226001/some-font-sizes-rendered-larger-on-safari-iphone */
  -webkit-text-size-adjust: none;

  /* Headings */

  h1, h2, h3, h4, h5, h6 {
    margin: $heading-margin;
  }

  h1 { font: $h1-font; }
  h2 { font: $h2-font; }
  h3 { font: $h3-font; }
  h4 { font: $h4-font; }
  h5 { font: $h5-font; }
  h6 { font: $h6-font; }

  /* Paragraphs */

  p {
    margin: $paragraph-margin;
  }

  /* Emphasis */

  strong {
    color: inherit;
    font-weight: bold;
  }
  
  em {
    color: inherit;
    font-style: italic;
  }

  /* Blockquotes */

  blockquote {
    margin: $paragraph-margin;
    padding: 1px 1rem;
  }

  /* Lists */

  ul, ol {
    margin: $paragraph-margin;
    padding-left: 2rem;
  }

  ul {
    list-style-type: disc;
  }

  ul, ol {
    ul {
      list-style-type: square;
    }
  }

  ul, ol {
    ul, ol {
      ul {
        list-style-type: circle;
      }
    }
  }

  ol {
    list-style-type: decimal;
  }

  ul, ol {
    ol {
      list-style-type: lower-roman;
    }
  }

  ul, ol {
    ul, ol {
      ol {
        list-style-type: lower-alpha;
      }
    }
  }

  li, li > p {
    margin: 0.5rem 0;
  }

  /* Horizontal Rules */

  hr {
    margin: 2rem 0;
    border: 0;
    height: 0.15rem;
  }

  /* Links */

  a {
    text-decoration: none;
    cursor: pointer;
  }

  a:hover {
    text-decoration: underline;
  }

  /* Images */

  img {
    /* 图片其实是可以 inline 到诸如 <p> <a> 里头的，但这里都统一成 block */
    display: block;
    max-width: 100%;
    margin: $block-margin;
  }

  figure {
    @extend %mdb-block-container;
    margin: 0 auto;
  }

  figure figcaption {
    text-align: center;
    font-size: 0.8rem;
    font-style: italic;                                                                                                                                 
    font-weight: bold;
    opacity: 0.5;
  }

  /* Code */

  .code-container {    
    @extend %mdb-block-container;
    margin: $block-margin;
    /*    
    max-width: fit-content;    
    */    

    table {
      margin: 0;
      padding: 0;
      border: 0;
      border-collapse: collapse;
      width: 100%;
    }

    td {
      margin: 0;
      padding: 0;
      border: 0;

      &:first-child {
        /* 行号固定 */
        position: -webkit-sticky;
        position: sticky;
        left: 0;
        /* 不可选 */
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 10;

        pre {
          padding: 1rem 0.5rem;
        }
      }

      &:last-child {
        /* https://stackoverflow.com/a/17014884 */
        width: 100%;
        z-index: 9;

        pre {
          padding: $block-padding;
        }
      }

    }

    pre {
      font: $code-font;
      margin: 0;
    }
  }    

  code[class*='language-'] {
    font: $code-font;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  pre > code[class*='language-'] {
    margin: 0;
    padding: 0;
  }

  :not(pre) > code[class*='language-'] {
    margin: $inline-margin;
    padding: $inline-padding;
    border-radius: $inline-border-radius;
  }

  .prism-token {
    &.prism-comment { font-style: italic; }
    &.prism-url { text-decoration: underline; }
    &.prism-important,
    &.prism-bold { font-weight: bold; }
    &.prism-italic { font-style: italic; }
    &.prism-operator,
    &.prism-punctuation { opacity: 0.7; }
  }

  /* Tables */

  .table-container {
    @extend %mdb-block-container;
    margin: $block-margin;
    max-width: fit-content;
    white-space: nowrap;

    table {
      margin: 0;
      border: 0;
      border-collapse: collapse;

      th, td {
        font: $table-font;
        padding: $inline-padding;
      }
    }
  }

  /* Math */

  mjx-container[jax="SVG"] {
    &[display="true"] {
      @extend %mdb-block-container;
      margin: $block-margin;
      padding: $block-padding;
      text-align: center;
      border-radius: $block-border-radius;
    }

    &:not([display="true"]) {
      display: inline-block;
      margin: $inline-margin;
      padding: $inline-padding;
      border-radius: $inline-border-radius;
    }

  }

}
