{{ define "mainTitle" }}
  <h5>{{ partial "breadcrumb.html" . }}</h5>
  <p>
    {{ range .Params.tags }}
    <a href="/tags/{{ . | urlize }}/"><span class="tag is-small">{{ . }}</span></a>
    {{- end }}
    {{ range .Params.categories }}
    <a href="/categories/{{ . | urlize }}/"><span class="tag is-small text-primary bd-primary">{{ . }}</span></a>
    {{- end }}
  </p>
{{ end }}

{{ define "mainBody" }}
  <article id="content-body">
    {{ .Content }}
  </article>
  <div id="list-body" class="is-center">
    <ul>
    {{ range .Data.Pages -}}
      <li>
        <p>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          <small>
            {{ if len .Pages }}
              <span><i class="fa fa-fw fa-angle-double-right"></i>{{ len .Pages }}</span>
            {{ else }}
              <time class="" datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "Mon, 2006/01/02" }}</time>
            {{ end }}
          </small>
        </p>
      </li>
    {{- end }}
    </ul>
  </div>
{{ end }}
