{{ define "mainTitle" }}
  <h4>{{ partial "breadcrumb.html" . }}</h4>
{{ end }}

{{ define "mainBody" }}
  <article id="content-body">
    {{ .Content }}
  </article>
  <div id="list-body" class="is-center">
    <ul>
    {{ range .Data.Pages -}}
      <li>
        <p>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
          <small>
            {{ if len .Pages }}
              <span><i class="fa fa-fw fa-angle-double-right"></i>{{ len .Pages }}</span>
            {{ else }}
              <time class="" datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "Mon, 2006/01/02" }}</time>
            {{ end }}
          </small>
        </p>
      </li>
    {{- end }}
    </ul>
  </div>
{{ end }}
