/* 以下覆盖 chota 一些设置 */

html {
  font-size: 1rem;
}

thead {
  border-bottom: none !important;
}

[type=checkbox], [type=radio] {
  width: 1rem;
  height: 1rem;
}

input:disabled, input:disabled:hover {
  opacity: 1;
}

code {
  white-space: pre;
}
