/* 以下 reset chota 一些设置 */
html {
  font-size: 1rem;
}

thead {
  border-bottom: none !important;
}

/* 以下正式样式 */

:root {
  --bg-color: var(--mdb-body-bg-color);
  --bg-secondary-color: var(--mdb-block-bg-color);
  --color-primary: var(--mdb-link-fg-color);
  --color-lightGrey: var(--mdb-hr-bg-color);
  --color-darkGrey: var(--mdb-body-fg-color);
  --grid-gutter: 1rem;
  --font-size: 1rem;
  --font-color: var(--mdb-body-fg-color);
  --font-family-sans: var(--mdb-sans-ff);
  --font-family-mono: var(--mdb-mono-ff);
}

#navbar {
  background-color: var(--mdb-block-bg-color);
  border-bottom: 2px dotted var(--mdb-hr-bg-color);
  font-size: 0.9rem;
}

#navbar-brand {
  color: var(--mdb-link-fg-color);
  font-weight: bold;
  white-space: nowrap;
}

#markdown-title h1 {
  font: bold 2rem serif;
}

#markdown-title small {
  font-style: italic;
}

#markdown-body {
  max-width: 720px;
}
