/* 以下 reset chota 一些设置 */

html {
  font-size: 1rem;
}

thead {
  border-bottom: none !important;
}

/* 以下添加一些额外的 util class */

/* chota 本身有 hide-xx, 但用了!important */

@media screen and (max-width: 599px) {
    .hide-xs-noimportant {
        display: none;
    }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
    .hide-sm-noimportant {
        display: none;
    }
}

@media screen and (min-width: 900px) and (max-width: 1199px) {
    .hide-md-noimportant {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .hide-lg-noimportant {
        display: none;
    }
}

/* chota customize */

:root {
  --bg-color: var(--mdb-body-bg-color);
  --bg-secondary-color: var(--mdb-block-bg-color);
  --color-primary: var(--mdb-link-fg-color);
  --color-lightGrey: var(--mdb-hr-bg-color);
  --color-darkGrey: var(--mdb-body-fg-color);
  --grid-gutter: 1rem;
  --font-size: 1rem;
  --font-color: var(--mdb-body-fg-color);
  --font-family-sans: var(--mdb-sans-ff);
  --font-family-mono: var(--mdb-mono-ff);
}

/* 样式 */

#navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--mdb-block-bg-color);
  font-size: 0.9rem;
  padding: 0;
  border-bottom: 1px solid var(--mdb-hr-bg-color);
}

#navbar a, #navbar label {
  padding: 1rem 1.5rem;
}

#navbar-brand {
  font: bold 1.25rem var(--mdb-sans-ff);
  white-space: nowrap;
}

#navbar-toggle {
  margin-left: auto;
  cursor: pointer;
}

#navbar-toggle span {
  display: block;
  width: 1rem;
  height: 0.1rem;
  margin-top: 0.2rem;
  background-color: var(--mdb-link-fg-color);
}

#navbar-toggle-state:checked ~ #navbar-menu {
  display: flex;
}

#markdown-title h1 {
  margin-top: 2rem;
  font: bold 2rem serif;
}

#markdown-title small {
  font-style: italic;
}

#markdown-body {
  max-width: 720px;
}
