/*
@import "node_modules/tailwindcss/base";
@import "node_modules/tailwindcss/components";
@import "node_modules/tailwindcss/utilities";
*/

@tailwind base;
@tailwind components;
@tailwind utilities;
