<script>
function getColorMode () {
  return window.localStorage.getItem("colorMode") || 'light';
}
function setColorMode (colorMode) {
  window.localStorage.setItem("colorMode", colorMode);
  var root = document.getElementsByTagName('html')[0];
  var a = 'light-mode', r = 'dark-mode';
  if (colorMode === 'dark')
    a = 'dark-mode', r = 'light-mode';
  root.classList.remove(r);
  root.classList.add(a);
}
function toggleColorMode () {
  setColorMode(getColorMode() === 'light' ? 'dark' : 'light');
}
setColorMode(getColorMode());
</script>
