{{- $light := .Scratch.Get "highlightjsLightStyle" | default "base16/gruvbox-light-soft" -}}
{{- $dark := .Scratch.Get "highlightjsDarkStyle" | default "base16/gruvbox-dark-soft" -}}
<link id="hljs-light-css" rel="stylesheet" href="/highlightjs/styles/{{ $light }}.min.css" disabled="disabled"></link>
<link id="hljs-dark-css" rel="stylesheet" href="/highlightjs/styles/{{ $dark }}.min.css" disabled="disabled"></link>
<link id="hljs-css" rel="stylesheet"></link>
<script type="text/javascript" src="/highlightjs/highlight.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function (ev) {
    hljs.configure({
      ignoreUnescapedHTML: true
    });
    document.querySelectorAll('pre[class*=language-] > code').forEach(function (el) {
      hljs.highlightElement(el);
    });
    document.querySelectorAll('code[class*=language-]').forEach(function (el) {
      hljs.highlightElement(el);
    });
  });
  document.addEventListener('ColorModeToggled', function (ev) {
    document.getElementById('hljs-css').setAttribute(
      'href',
      document.getElementById(ev.detail.dark ? 'hljs-dark-css' : 'hljs-light-css').getAttribute('href'),
    )
  });
</script>
