{{- $options := dict "transpiler" "dartsass" "outputStyle" "compressed" "targetPath" "highlightjs/hightlightjs-style.css" -}}
{{- $style := resources.Get "highlightjs/scss/hightlightjs-style.scss" | resources.ToCSS $options | resources.Fingerprint -}}
<link rel="stylesheet" href="{{ $style.RelPermalink }}"></link>
<script type="text/javascript" src="/highlightjs/highlight.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function (ev) {
  hljs.configure({
    ignoreUnescapedHTML: true
  });
  document.querySelectorAll('pre[class*=language-] > code, code[class*=language-]').forEach(function (el) {
    hljs.highlightElement(el);
  });
});
</script>
