:root {
  /* From: https://github.com/highlightjs/highlight.js/blob/main/src/styles/base16/gruvbox-light-soft.css */
  /*!
  Theme: Gruvbox light, soft
  Author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)
  License: ~ MIT (or more permissive) [via base16-schemes-source]
  Maintainer: @highlightjs/core-team
  Version: 2021.05.0
  */
  --color-base00-rgb:       242, 229, 188;  /* Default Background */
  --color-base00:           rgb(var(--color-base00-rgb));  /* #f2e5bc */
  --color-base01-rgb:       235, 219, 178;  /* Lighter Background (Used for status bars, line number and folding marks) */
  --color-base01:           rgb(var(--color-base01-rgb));  /* #ebdbb2 */
  --color-base02-rgb:       213, 196, 161;  /* Selection Background */
  --color-base02:           rgb(var(--color-base02-rgb));  /* #d5c4a1 */
  --color-base03-rgb:       189, 174, 147;  /* Comments, Invisibles, Line Highlighting */
  --color-base03:           rgb(var(--color-base03-rgb));  /* #bdae93 */
  --color-base04-rgb:       102, 92, 84;    /* Dark Foreground (Used for status bars) */
  --color-base04:           rgb(var(--color-base04-rgb));  /* #665c54 */
  --color-base05-rgb:       80, 73, 69;     /* Default Foreground, Caret, Delimiters, Operators */
  --color-base05:           rgb(var(--color-base05-rgb));  /* #504945 */
  --color-base06-rgb:       60, 56, 54;     /* Light Foreground (Not often used) */
  --color-base06:           rgb(var(--color-base06-rgb));  /* #3c3836 */
  --color-base07-rgb:       40, 40, 40;     /* Light Background (Not often used) */
  --color-base07:           rgb(var(--color-base07-rgb));  /* #282828 */
  --color-base08-rgb:       157, 0, 6;      /* Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted */
  --color-base08:           rgb(var(--color-base08-rgb));  /* #9d0006 */
  --color-base09-rgb:       175, 58, 3;     /* Integers, Boolean, Constants, XML Attributes, Markup Link Url */
  --color-base09:           rgb(var(--color-base09-rgb));  /* #af3a03 */
  --color-base0A-rgb:       181, 118, 20;   /* Classes, Markup Bold, Search Text Background */
  --color-base0A:           rgb(var(--color-base0A-rgb));  /* #b57614 */
  --color-base0B-rgb:       121, 116, 14;   /* Strings, Inherited Class, Markup Code, Diff Inserted */
  --color-base0B:           rgb(var(--color-base0B-rgb));  /* #79740e */
  --color-base0C-rgb:       66, 123, 88;    /* Support, Regular Expressions, Escape Characters, Markup Quotes */
  --color-base0C:           rgb(var(--color-base0C-rgb));  /* #427b58 */
  --color-base0D-rgb:       7, 102, 120;    /* Functions, Methods, Attribute IDs, Headings */
  --color-base0D:           rgb(var(--color-base0D-rgb));  /* #076678 */
  --color-base0E-rgb:       143, 63, 113;   /* Keywords, Storage, Selector, Markup Italic, Diff Changed */
  --color-base0E:           rgb(var(--color-base0E-rgb));  /* #8f3f71 */
  --color-base0F-rgb:       214, 93, 14;    /* Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?> */
  --color-base0F:           rgb(var(--color-base0F-rgb));  /* #d65d0e */

  /* Common */
  --color-fg:               var(--color-base05);
  --color-bg:               var(--color-base00);
  --color-body-fg:          var(--color-base05);
  --color-selection-bg:     var(--color-base02);
  --color-url:              var(--color-base09);
  --color-blockquote-bar:   rgba(var(--color-base05-rgb), 0.3);
  --color-blockquote:       rgba(var(--color-base05-rgb), 0.8);

  /* Block Style */
  --block-shadow-color:     rgba(var(--color-base05-rgb), 0.5);

  /* Table Style */
  --table-fg:               var(--color-base05);
  --table-bg:               var(--color-base00);
  --table-head-bg:          var(--color-base01);
  --table-border-color:     var(--color-base01);

  /* Code Style */
  --code-block-ln-bg:       var(--color-base01);
  --code-tok-comment:       var(--color-base03);
  --code-tok-keyword:       var(--color-base0E);
  --code-tok-builtin:       var(--color-base0A);
  --code-tok-function:      var(--color-base0D);
  --code-tok-class-name:    var(--color-base0A);
  --code-tok-string:        var(--color-base0B);
  --code-tok-variable:      var(--color-base08);
  --code-tok-constant:      var(--color-base09);
  --code-tok-property:      var(--color-base09);
  --code-tok-namespace:     var(--color-base0A);
  --code-tok-annotation:    var(--color-base0F);
  --code-tok-regex:         var(--color-base0C);
  --code-tok-boolean:       var(--code-tok-keyword);
  --code-tok-doctype:       var(--color-base0F);
  --code-tok-tag:           var(--color-base08);
  --code-tok-attr-name:     var(--color-base09);
  --code-tok-shebang:       var(--color-base0F);
  --code-tok-deleted:       var(--color-base08);
  --code-tok-inserted:      var(--color-base0B);
}
