{{ define "mainBody" -}}
  <div>
    {{ range first 5 .Site.RegularPages -}}
    <article>
      <h1>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h1>
      <small>
        <time class="" datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "Mon, 2006/01/02" }}</time>
      </small>
      <p>
        {{ .Summary | plainify | truncate 120 }}
      </p>
      <div>
        <a href="{{ .RelPermalink }}">Read More…</a>
      </div>
    </article>
    {{- end }}
  </div>
{{- end }}
