  <style>
    .light #mode:before {
      content: "☀️";
      visibility: visible;
    }
    .dark #mode:before {
      content: "🌙";
      visibility: visible;
    }
  </style>
  <script>
    function setMode(toggle) {
      var darkMode = Boolean(window.localStorage.getItem("darkMode"));
      if (toggle) {
        darkMode = !darkMode;
        window.localStorage.setItem("darkMode", darkMode ? "1" : "");
      }
      var root = document.getElementsByTagName("html")[0];
      root.classList.remove(darkMode ? "light" : "dark");
      root.classList.add(darkMode ? "dark" : "light");
      return false;
    }
    setMode(false);
  </script>
  <nav id="navbar" class="row">
    <div class="is-left col-12 col-3-md row">
      <a id="navbar-brand" class="brand" href="/">{{ .Site.Title }}</a>
      <label id="navbar-toggle" for="navbar-toggle-state" class="hide-md hide-lg">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    <input id="navbar-toggle-state" type="checkbox" style="display:none"></input>
    <div id="navbar-menu" class="is-right col-12 col-9-md row hide-xs-noimportant hide-sm-noimportant">
      {{ range .Site.Sections }}
      <a href="/{{ .Section }}">{{ .Section | humanize | title }}</a>
      {{ end }}
      {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
      <a href="/{{ $taxonomyname | urlize }}">{{ $taxonomyname | humanize | title }}</a>
      {{ end }}
      <a href="javascript:void(0)" id="mode" onclick="return setMode(true)"></a>
    </div>
  </nav>
