{{ define "mainTitle" }}
  <h1>{{ .Type | humanize | title }}</h1>
  {{ if eq .Kind "term" }}
    <div class="tag is-small">{{ .Title | humanize | title }}</div>
  {{ end }}
{{ end }}

{{ define "mainBody" }}
  <div id="list-main-body" class="is-center">
    <ul>
    {{ range .Data.Pages -}}
      <li>
        <p>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
          <small>
            <time class="" datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "Mon, 2006/01/02" }}</time>
          </small>
        </p>
      </li>
    {{- end }}
    </ul>
  </div>
{{ end }}
