/* 以下 reset chota 一些设置 */

html {
  font-size: 1rem;
}

thead {
  border-bottom: none !important;
}

/* chota customize */

:root {
  --bg-color: var(--mdb-body-bg-color);
  --bg-secondary-color: var(--mdb-block-bg-color);
  --color-primary: var(--mdb-link-fg-color);
  --color-lightGrey: var(--mdb-hr-bg-color);
  --color-grey: var(--mdb-body-fg-color);
  --color-darkGrey: var(--mdb-heading-fg-color);
  --grid-gutter: 0rem;
  --font-size: 1rem;
  --font-color: var(--mdb-body-fg-color);
  --font-family-sans: var(--mdb-sans-ff);
  --font-family-mono: var(--mdb-mono-ff);
}

/* chota 本身有 hide-xx, 但用了!important */

@media screen and (max-width: 599px) {
  .hide-xs-noimportant {
    display: none;
  }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
  .hide-sm-noimportant {
    display: none;
  }
}

@media screen and (min-width: 900px) and (max-width: 1199px) {
  .hide-md-noimportant {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .hide-lg-noimportant {
    display: none;
  }
}

/* anchorjs 由于 sticky header 被遮挡的问题: https://www.bryanbraun.com/anchorjs/#pages-with-a-sticky-navbar */
:target {
  scroll-margin-top: 5rem;
}

/* 全局样式 */

/* https://allthingssmitty.com/2020/05/11/css-fix-for-100vh-in-mobile-webkit/ */
/* https://css-tricks.com/css-fix-for-100vh-in-mobile-webkit/ */
html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

/* 头部样式 */

#header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: var(--mdb-block-bg-color);
  font-size: 0.9rem;
  padding: 0rem;
  border-bottom: 1px solid var(--mdb-hr-bg-color);
}

#navbar a, #navbar label {
  padding: 1rem 1.5rem;
}

#navbar-brand {
  font: bold 1rem var(--mdb-sans-ff);
  white-space: nowrap;
}

#navbar-toggle-menu {
  margin-left: auto;
  cursor: pointer;
}

#navbar-toggle-menu span {
  display: block;
  width: 1rem;
  height: 0.1rem;
  margin-top: 0.2rem;
  background-color: var(--mdb-link-fg-color);
}

#navbar-toggle-menu-state:checked ~ #navbar-menu {
  display: flex;
}

.light #navbar-toggle-mode:before {
  content: "☀️";
  visibility: visible;
}

.dark #navbar-toggle-mode:before {
  content: "🌙";
  visibility: visible;
}

/* 主体样式 */

#main {
  background-color: var(--mdb-body-bg-color);
  z-index: 2;
  /* #header 和 #footer 没有设置 flex, 默认 flex-grow 为 0, 所以所有空余空间都会由 main 占据 */
  flex: 1;
  padding: 0 0.25rem 2rem 0.25rem;
  /* 过长的需要 wrap */
  overflow-wrap: break-word;
}

#main small {
  font: 0.75rem var(--mdb-sans-ff);
}

#main-title h1 {
  margin-top: 1.5rem;
}

/* 页脚样式 */

#footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 1;
  background-color: var(--mdb-selection-bg-color);
  font: italic bold 0.75rem var(--mdb-sans-ff);
  padding: 0.75rem;
}

#footer p {
  margin: 0.5rem;
}

/* list 样式 */

#list-main-body ul {
  max-width: 100%;
}
