/* Body */

.markdown-body {
  margin: 0 auto;
  color: var(--mdt-body-fg);
  background-color: var(--mdt-body-bg);
  line-height: 1.5;
  font-family: var(--mdt-font-sans);
  /* https://stackoverflow.com/questions/3226001/some-font-sizes-rendered-larger-on-safari-iphone */
  -webkit-text-size-adjust: none;
}

.markdown-body::selection,
.markdown-body *::selection {
  background-color: var(--mdt-body-sel-bg);
}

/* Headings */

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-weight: 600;
  line-height: 1.25;
  color: var(--mdt-head-fg);
}

.markdown-body h1 {
  padding-top: 0.25em;
  font-size: 1.75em;
}

.markdown-body h2 {
  padding-top: 0.25em;
  font-size: 1.5em;
}

.markdown-body h3 {
  font-size: 1.25em;
}

.markdown-body h4 {
  font-size: 1em;
}

.markdown-body h5 {
  font-size: .875em;
}

.markdown-body h6 {
  font-size: .85em;
}

/* Paragraph */
 
.markdown-body p {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Blockquotes */

.markdown-body blockquote {
  margin: 0;
  padding: 0 1em;
  border-left: 3px solid var(--mdt-quote-bar);
  color: var(--mdt-quote-fg);
}

/* Lists */

.markdown-body ul,
.markdown-body ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

.markdown-body ol ol,
.markdown-body ul ol {
  list-style-type: lower-roman;
}

.markdown-body ul ul ol,
.markdown-body ul ol ol,
.markdown-body ol ul ol,
.markdown-body ol ol ol {
  list-style-type: lower-alpha;
}

.markdown-body li>p {
  margin-top: 1em;
}

.markdown-body li+li {
  margin-top: .25em;
}

/* Links */

.markdown-body a {
  background-color: transparent;
  color: var(--mdt-link-fg);
  text-decoration: none;
}

.markdown-body a:hover {
  text-decoration: underline;
}

/* Images */

.markdown-body img {
  /* 图片其实是可以 inline 到诸如 <p> <a> 里头的，但这里都统一成 block */
  display: block;
  max-width: 100%;
  margin: var(--mdt-block-margin-y) var(--mdt-block-margin-x);
}

.markdown-body figure {
  display: block;
  margin: 0 auto;
}

.markdown-body figure figcaption {
  text-align: center;
  font-size: 0.7em;
  font-style: italic;
  font-weight: bold;
  opacity: 0.5;
}

/* Seperators */

.markdown-body hr {
  border: 0;
  height: 0.15em;
  background-color: var(--mdt-sep-fg);
  margin: 2.5em 0;
}

/* Tables */

.markdown-body .table-container {
  display: block;
  overflow-x: auto;
  max-width: fit-content;
  white-space: nowrap;
  background-color: var(--mdt-tab-cont-bg);
  margin: var(--mdt-block-margin-y) var(--mdt-block-margin-x);
  box-shadow: var(--mdt-block-shadow);
}

/* 隐藏 scrollbar: https://stackoverflow.com/a/63950078 */
.markdown-body .table-container::-webkit-scrollbar { display: none; }
.markdown-body .table-container { -ms-overflow-style: none; scrollbar-width: none; }

.markdown-body .table-container table {
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
}

.markdown-body .table-container th,
.markdown-body .table-container td {
  border-width: 1;
  border-style: solid;
  border-color: var(--mdt-tab-border-color);
  padding: var(--mdt-tab-cell-padding-y) var(--mdt-tab-cell-padding-x);
  font-size: 0.9em;
}

.markdown-body .table-container th {
  color: var(--mdt-tab-hd-fg);
  background-color: var(--mdt-tab-hd-bg);
}

.markdown-body .table-container td {
  color: var(--mdt-tab-fg);
  background-color: var(--mdt-tab-bg);
}

/* Code */

.markdown-body code[class*='language-'] {
  font-family: var(--mdt-font-mono);
  line-height: 1.5;
  /*
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  */
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.markdown-body :not(pre) > code[class*='language-'] {
  color: var(--mdt-code-inline-fg);
  background: var(--mdt-code-inline-bg);
  font-size: 0.85em;
  padding: var(--mdt-inline-padding-y) var(--mdt-inline-padding-x);
  border-radius: var(--mdt-inline-radius);
}

.markdown-body .code-container {
  /*
  max-width: fit-content;
  */
  display: block;
  overflow-x: auto;
  background-color: var(--mdt-code-block-cont-bg);
  font-size: 0.7em;
  margin: var(--mdt-block-margin-y) var(--mdt-block-margin-x);
  box-shadow: var(--mdt-block-shadow);
}

.markdown-body .code-container::-webkit-scrollbar { display: none; }
.markdown-body .code-container { -ms-overflow-style: none; scrollbar-width: none; }

.markdown-body .code-container table {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  border-collapse: collapse;
}

.markdown-body .code-container td {
  border: 0;
  margin: 0;
  padding: 0;
}

.markdown-body .code-container td:first-child {
  color: var(--mdt-code-block-ln-fg);
  background-color: var(--mdt-code-block-ln-bg);
  /* 行号固定 */
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
  /* 不可选 */
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.markdown-body .code-container td:last-child {
  color: var(--mdt-code-block-fg);
  background-color: var(--mdt-code-block-bg);
  /* https://stackoverflow.com/a/17014884 */
  width: 100%;
}

.markdown-body .code-container td:first-child pre {
  margin: 0;
  padding: var(--mdt-block-padding-y) var(--mdt-block-half-padding-x);
}

.markdown-body .code-container td:last-child pre {
  margin: 0;
  padding: var(--mdt-block-padding-y) var(--mdt-block-padding-x);
}

.markdown-body .token.comment { color: var(--mdt-code-tok-comment);  }
.markdown-body .token.operator { color: var(--mdt-code-tok-operator); }
.markdown-body .token.keyword { color: var(--mdt-code-tok-keyword); }
.markdown-body .token.builtin { color: var(--mdt-code-tok-builtin); }
.markdown-body .token.function { color: var(--mdt-code-tok-function); }
.markdown-body .token.class-name { color: var(--mdt-code-tok-class-name); }
.markdown-body .token.string { color: var(--mdt-code-tok-string); }
.markdown-body .token.variable { color: var(--mdt-code-tok-variable); }
.markdown-body .token.constant { color: var(--mdt-code-tok-constant); }
.markdown-body .token.property { color: var(--mdt-code-tok-property); }
.markdown-body .token.namespace { color: var(--mdt-code-tok-namespace); }

.markdown-body .token.annotation,
.markdown-body .language-python .token.decorator { color: var(--mdt-code-tok-annotation); }
.markdown-body .token.punctuation { color: var(--mdt-code-tok-punctuation); }
.markdown-body .token.regex { color: var(--mdt-code-tok-regex); }
.markdown-body .token.number { color: var(--mdt-code-tok-number); }
.markdown-body .token.boolean { color: var(--mdt-code-tok-boolean); }
.markdown-body .token.interpolation { color: var(--mdt-code-tok-interpolation); }
.markdown-body .token.symbol { color: var(--mdt-code-tok-symbol); }
.markdown-body .token.url { color: var(--mdt-code-tok-url); }

.markdown-body .token.doctype { color: var(--mdt-code-tok-doctype); }
.markdown-body .token.cdata { color: var(--mdt-code-tok-cdata); }
.markdown-body .token.tag { color: var(--mdt-code-tok-tag); }
.markdown-body .token.attr-name { color: var(--mdt-code-tok-attr-name); }
.markdown-body .token.attr-value { color: var(--mdt-code-tok-attr-value); }

.markdown-body .token.shebang { color: var(--mdt-code-tok-shebang); }

.markdown-body .token.selector { color: var(--mdt-code-tok-selector); }
.markdown-body .token.atrule { color: var(--mdt-code-tok-atrule); }

.markdown-body .token.coord { color: var(--mdt-code-tok-coord); }
.markdown-body .token.deleted { color: var(--mdt-code-tok-deleted); }
.markdown-body .token.inserted { color: var(--mdt-code-tok-inserted); }

.markdown-body .token.comment { font-style: italic; }
.markdown-body .token.url { text-decoration: underline; }
.markdown-body .token.important,
.markdown-body .token.bold { font-weight: bold; }
.markdown-body .token.italic { font-style: italic; }
.markdown-body .token.operator,
.markdown-body .token.punctuation { opacity: 0.7; }

/* Math */

.markdown-body mjx-container[jax="SVG"]:not([display="true"]) > svg {
  color: var(--mdt-math-inline-fg);
  background-color: var(--mdt-math-inline-bg);
  padding: var(--mdt-inline-padding-y) var(--mdt-inline-padding-x);
  border-radius: var(--mdt-inline-radius);
}

.markdown-body mjx-container[jax="SVG"][display="true"] {
  overflow-x: auto;
  color: var(--mdt-math-block-fg);
  background-color: var(--mdt-math-block-bg);
  margin: var(--mdt-block-margin-y) var(--mdt-block-margin-x);
  padding: var(--mdt-block-padding-y) var(--mdt-block-padding-x);
  box-shadow: var(--mdt-block-shadow);
}

.markdown-body mjx-container[jax="SVG"][display="true"]::-webkit-scrollbar { display: none; }
.markdown-body mjx-container[jax="SVG"][display="true"] { -ms-overflow-style: none; scrollbar-width: none; }
